/* common styles */
$main-color: #f7600e;

body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 1200px;
  margin: auto;
  position: relative;
}

.table{
  height: 100%;
  display: table;
}

.table-row{
  display: table-row;
}

.text-center{
  text-align: center;
}

.upper{
  text-transform: uppercase;
}

.main-color{
  color: $main-color;
}

.main-background{
  background-color: $main-color;
}
/* end common styles */