/** Footer Section **/
footer{
  background-color: #3b434c;
  color: #fff;
  overflow: hidden;
  padding: 20px 0;
  
  .copy{
    float: left;
  }
  
  .design{
    float: right;
  }
}
/** End Footer **/